body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: pink;

}
#cabecera{
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-shadow: #fff 1px 1px 1px;
}